.about-me-img-content img {
  width: 30rem;
  border-radius: 70% 50%;
}

.about-me-container {
  margin-top: 2rem;
}

header.intro {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--extra-color);
  padding-bottom: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.intro-text h1 {
  font-size: 3.4rem;
  color: #333;
  text-align: center;
  width: 65rem;
}

.intro-text p {
  text-align: center;
  margin-top: 1rem;
  font-size: 18px;
  color: #555;
}

section {
  margin-top: 40px;
}

hr{
  width: 100%;
  color: #555;
  background-color: #555;
  height: 100px;
  border: 2px solid  red;
}
.resume-section {
  margin: 2.5rem 0;
  /* border: 2px solid black; */
}

.resume-section p {
  font-size: large;
  margin: 1rem 0;
  border-bottom: 2px solid var(--extra-color);
  width: fit-content;
}

h2 {
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid var(--extra-color);
  padding-bottom: 5px;
}

h1 {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--extra-color);
  margin-bottom: 15px;
}

h4 {
  font-size: 1.3rem;
  color: #333;
  margin-top: 20px;
}

ul {
  list-style-type: decimal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.resume-section ul li {
  margin-bottom: 10px;
  list-style-type: disc;
  margin-left: 2.5rem;
  font-size: large;
}

ul li strong {
  font-weight: bold;
  color: var(--extra-color);
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* MEDIA QUREY */
@media (max-width: 767px) {
  #about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me-container {
    padding: 2rem;
  }

  .about-me-img-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-me-img-content img {
    width: 81%;
    border-radius: 50%;
  }

  .about-me-text-content header,
  .about-me-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about-me-text-content h3 {
    width: fit-content;
    text-align: center;
  }

  .about-me-text-content {
    text-align: center;
  }

  .intro-text {
    padding: 2rem;
  }

  .intro-text h1 {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .intro-text p {
    text-align: center;
  }
}
header .uniguide{
  color: var(--extra-color);
  text-decoration: underline;
  font-weight: bold;
}
.resume-section a{
color: #333;
}
@media (max-width: 480px) {
  #about-me{
    margin: 4.9rem 0;
  }
  .about-me-container {
    padding: 1rem;
  }

  .intro-text h1 {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 2rem;
  }
}